<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
<h1>HOALSDAS</h1>
<input [(ngModel)]="tipo">
<input [(ngModel)]="this.data2[0][2]">
<button (click)="hola()" type="button" class="btn btn-dark">log</button>
<div class="row">
    <div class="col-5">
        <div class="card">
            <div id="chart1"></div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>